<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <connectionStrings>
    <add name="sgt" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=E:\Sistemas\SistemasExemplo\DDD\Refactoring3CamadasToSucesso\Sgtv1.Solucao\Teste.DAL\Bancos\sgt.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
    <add name="log" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=E:\Sistemas\SistemasExemplo\DDD\Refactoring3CamadasToSucesso\Sgtv1.Solucao\Teste.DAL\Bancos\Logs.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>