<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>    
    <table class="table table-hover" ng-controller="TarefaCtrl as tarefa" ng-init="tarefa.Listar()">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome do Produto</th>
                <th>Data de Entrega</th>
                <th>Descrição</th>
                <th>Estado</th>                
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="t in tarefa.Tarefas">
                <td> {{t.Id}} </td>
                <td> {{t.Nome}} </td>
                <td> {{t.DataDaEntrega | date:'dd/MM/yyyy'}} </td>
                <td> {{t.Descricao}} </td>
                <td> {{t.Estado}} </td>
            </tr>
        </tbody>
    </table>    
</body>
</html>
