<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AssembliesComMapeamento" value="Artigo.MVCAngularJS.Entidade" />
  </appSettings>

  <connectionStrings>
    <add name="MVCAngularJs" connectionString="Data Source=GABRIEL-LAPTOP\SQLEXPRESSR2;Initial Catalog=AngularJSMVC;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>